 body {
  margin: 0;
  padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1125px;
	 height: 2436px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Rectangle2 
{ 
	 left: -1px; 
	 top: -1px; 
	 position: absolute; 
	 width: 1126px;
	 height: 2437px;
	 z-index:1;
} 

 #border1 
{ 
	 left: -5px; 
	 top: 48px; 
	 position: absolute; 
	 width: 1135px;
	 height: 2125px;
	 z-index:2;
} 

 #border2 
{ 
	 left: -5px; 
	 top: 17px; 
	 position: absolute; 
	 width: 1135px;
	 height: 2125px;
	 z-index:3;
} 

 #border3 
{ 
	 left: -5px; 
	 top: -5px; 
	 position: absolute; 
	 width: 1135px;
	 height: 2123px;
	 z-index:4;
} 

 #BG 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1125px;
	 height: 2085px;
	 z-index:5;
} 

 #AppDownload 
{ 
	 left: 100px; 
	 top: 2247px; 
	 position: absolute; 
	 width: 925px;
	 height: 112px;
	 z-index:6;
} 

 #SaveIcon 
{ 
	 left: 408px; 
	 top: 1999px; 
	 position: absolute; 
	 width: 100px;
	 height: 100px;
	 z-index:7;
} 

 #Addtocontacts 
{ 
	 left: 47px; 
	 top: 2030px; 
	 position: absolute; 
	 width: 312px;
	 height: 25px;
	 z-index:8;
} 

 #Email 
{ 
	 left: 621px; 
	 top: 1895px; 
	 position: absolute; 
	 width: 91px;
	 height: 91px;
	 z-index:9;
} 

 #kontaktladiesmanager 
{ 
	 left: 47px; 
	 top: 1924px; 
	 position: absolute; 
	 width: 565px;
	 height: 32px;
	 z-index:10;
} 

 #web 
{ 
	 left: 779px; 
	 top: 1791px; 
	 position: absolute; 
	 width: 91px;
	 height: 91px;
	 z-index:11;
} 

 #wwwladiesmanagerde 
{ 
	 left: 279px; 
	 top: 1820px; 
	 position: absolute; 
	 width: 480px;
	 height: 32px;
	 z-index:12;
} 

 #Tiktok 
{ 
	 left: 894px; 
	 top: 1683px; 
	 position: absolute; 
	 width: 91px;
	 height: 91px;
	 z-index:13;
} 

 #tiktokladiesmanagerd 
{ 
	 left: 508px; 
	 top: 1713px; 
	 position: absolute; 
	 width: 365px;
	 height: 32px;
	 z-index:14;
} 

 #Instagram 
{ 
	 left: 978px; 
	 top: 1572px; 
	 position: absolute; 
	 width: 91px;
	 height: 91px;
	 z-index:15;
} 

 #Instagramladiesmanag 
{ 
	 left: 597px; 
	 top: 1601px; 
	 position: absolute; 
	 width: 364px;
	 height: 32px;
	 z-index:16;
} 

 #Whatsapp 
{ 
	 left: 1024px; 
	 top: 1462px; 
	 position: absolute; 
	 width: 91px;
	 height: 91px;
	 z-index:17;
} 

 #Whatsapp491704039436 
{ 
	 left: 686px; 
	 top: 1496px; 
	 position: absolute; 
	 width: 311px;
	 height: 24px;
	 z-index:18;
} 

 #tagline 
{ 
	 left: 149px; 
	 top: 1287px; 
	 position: absolute; 
	 width: 807px;
	 height: 63px;
	 z-index:19;
} 

 #text 
{ 
	 left: 55px; 
	 top: 866px; 
	 position: absolute; 
	 width: 1015px;
	 height: 318px;
	 z-index:20;
} 

 #Logo 
{ 
	 left: -5px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1130px;
	 height: 809px;
	 z-index:21;
} 
